{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div>
        <ul class="list-group">
            {% for question_set in object_list %}
                <li class="list-group-item">
                    <span>{{ question_set.name }}</span>
                    <div style="float:right;">
                        <form method="post" action="{% url 'examination-create' %}" class="form-inline">
                            {% csrf_token %}
                            <input type="hidden" name="question_set" value="{{ question_set.id }}">
                            {{ question_set.created_time }}
                            <button class="btn btn-outline-primary btn-sm confirm-alert" type="submit" style="margin-left: 1em">开始测试</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}