{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div>
        <h1 class="h3 mb-3 font-weight-normal">{{ examination.question_set.name }}</h1>
        <span>{{ examination.start_time }} - {{ examination.finish_time|default:"进行中" }}</span>
{#        <ul class="list-group">#}
{#            {% for examination in object_list %}#}
{#                <li class="list-group-item">#}
{#                    <span><a href="javascript:void(0)">{{ examination.question_set.name }}</a></span>#}
{#                    <span style="float:right; display:block">{{ examination.start_time }} - {{ examination.finish_time|default:"进行中" }}</span>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
    </div>
{% endblock %}